

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--light-gray);
  background-color: white;
  z-index: 1000;

  nav {
    max-width: 1200px;

    .school {
      width: 30px;
      height: 30px;
      font-size: 30px;
    }

    a {
      font-size: 15px;
      font-weight: bold;
    }
  }
}

.global-wrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto;

  .content {
    max-width: 1200px;
    width: 100%;
    margin: 150px auto 0;
  }
}

footer {
  height: 40px;
  border-top: 1px solid var(--light-gray);
}

@media (max-width: 520px) {

  .logo-text, .auth-controls, .add-question {
    display: none !important;
  }
}

@media (min-width: 520px) {

  .auth-menu {
    display: none !important;
  }
}
