table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-cell {
  height: 48px;
}

.mat-header-cell, .mat-cell {
  width: 0;
}

.mat-column-actions {
  padding-right: 0 !important;
  max-width: 40px;
}


