.question-view-wrapper {
  max-width: 800px;

  .question-box {
    border: 2px solid var(--light-gray);
    border-radius: 10px;
    min-height: 300px;
    max-height: 600px;
  }

  .answers {
    .answer-box {
      border-width: 2px;
      border-style: solid;
      border-radius: 10px;

      .grade-icon {
        width: 44px;
        height: 44px;
        font-size: 44px;
        color: var(--green);
      }
    }
  }
}
